.Container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.LoadingPart {
  height: 10px;
  width: 20%;
  background-color: #c9c6c6;
  border-radius: 10px;
  border: none;
}
.Paragraph {
  color: #7e7e7e;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* "text-gray-500 flex items-center gap-4" */
